{
  "version": 1,
  "minor_version": 1,
  "key": "core.config",
  "data": {
    "latitude": 45.30675462415635,
    "longitude": 10.19609034061432,
    "elevation": 0,
    "unit_system": "metric",
    "location_name": "Casa mamma",
    "time_zone": "Europe/Rome",
    "external_url": null,
    "internal_url": null,
    "currency": "EUR"
  }
}