[Unit]
Description=Start Adapter and subscribe to Mqtt
After=multi-user.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/WarmMeApp-HA/warmme/warmme-adapter.py

[Install]
WantedBy=multi-user.target
