[Unit]
Description=WarmMe jemRF listener
After=multi-user.target
Requires=network.target

[Service]
Type=idle
User=pi
ExecStart=/usr/bin/python /home/pi/WarmMeApp-HA/warmme/jemRFmqtt.py

[Install]
WantedBy=multi-user.target
