[Unit]
Description=WarmMe MQTT listener
After=multi-user.target
Requires=network.target
	
[Service]
Type=idle
User=pi
ExecStart=/usr/bin/python3 /home/pi/WarmMeApp-HA/warmme/warmme-adapter.py

[Install]
WantedBy=multi-user.target

